$copy-font: 'Rajdhani', sans-serif;
$title-font: 'Cinzel', serif;
$tablet-width: 1023px;
$phablet-width: 800px;
$mobile-width: 512px;

$background-blue: rgba(0, 21, 32);
$background-blue2: #090f1c;
$background-dark: #070707;
$background-dark2: rgba(5 7 10 / 1);
$background-card: hsl(220, 30%, 6%);
$background-card2: #141414;
$border-color: hsla(220, 20%, 25%, 0.6);
$border-color-light: #555;
$border-radius: 4px;

$button-highlight: rgba(218, 222, 231, 0.3);
$button-hover: rgba(218, 222, 231, 0.1);

$item-uncommon: #1eff00;
$item-rare: #0070dd;
$item-epic: #a335ee;
$item-legendary: #ff8000;
$item-artifact: #e5cc80;

$white-copy: rgba(255, 255, 255, 0.9);
$yellow-copy: #d4b06a;
$icon-border: #ffcd45;
$light-blue: #78b4df;
$light-grey: #bdbdbd;
$dark-blue: #0d2127;
$input-padding: 8px 0;
